*{
	margin: 0;
	padding: 0;
}
header{
	padding: 10px;
	background-color: #333333;
	overflow: hidden;
	color: white;
}
header > div{
	display: block;
	float: left;
	margin-left: 10px; 
}
header .logo img{
	height: 100%;
}
header .suptitle{
	font-size: 30px;
	font-weight: bolder;
}
header .subtitle{
	font-size: 12px;
}
header .title #showmenu{
	display: none;
}
.container{
	margin: 10px auto;
	width: 100%;
	border:red solid 0px;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: row;
}
.navi,.content{
border:black solid 0px;
}
.navi{
	width: 20%;
}
.navi ul{
	list-style: none;
}
.content{
	padding: 5px;
	width: 79%;
}
footer{
	padding: 12px;
	background-color: #333333;
	font-size: 12px;
	color: white;
}
footer a{
	color: white;
	font-weight: bolder;
	text-decoration: none;
}
footer a:visited{
	color: white;
}
.gemoji{
	vertical-align: text-bottom;
}
/*移动设备*/
@media (max-width: 750px) {
	header{
		padding: 0;
	}
	header > div{
		width: 100%;
		clear: both;
		margin-left:0; 
	}
	header .logo{
		display: none;
	}
	header .title{
		text-align: center;
	}
	header .title #showmenu{
		display: block;
		font-size: 20px;
		font-weight: bolder;
		text-shadow: 0 2px 10px grey;
	}
	header .title #showmenu:hover{
		cursor: pointer;
	}
	.navi{
		display: none;
		width: 100%;
	}
	.content{
		width: 100%;
	}
	.navi{
		text-align: center;
	}
	.navi > ul > li{
		font-weight: bolder;
		font-size: 18px;
	}
	.navi > ul {
		padding: 0;
		border:0px solid black;
		margin-left: 0;
	}
	.navi > ul > ul{
		border:grey 0px solid;
		margin-left: 0;
	}
	.navi > ul > ul >li{
		border:red 0px solid;
		margin-left: 0; 
		font-size: 14px;
	}
}