<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta lang="zh-cn">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{{ page.title | append: ' - ' | append: site.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/default.css">
	<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
	<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
	<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript">
    	$(document).ready(function(){
    		$('#showmenu').click(function(){
    			if ($('.navi').is(':hidden')) {
    				$('.navi').show(1000)
    				$('.content').hide(1000)
    			}else{
    				$('.navi').hide(1000)
    				$('.content').show(1000)
    			}
    		})
    	})
    </script>
</head>
<body>
	<header>{% include header.html %}</header>
	<div class="container">
		<div class="navi">
			<ul>
				<li>
					<a href='/'>主页</a>
				</li>
				<li>
					<a href='/install.html'>安装</a>
				</li>
				<li>
					<a href='/services'>语音服务器</a>
				</li>
				<ul>
					<li>
						<a href='/services/abair.html'>Abair.ie</a>
					</li>
					<li>
						<a href='/services/baidu.html'>百度</a>
					</li>
					<li>
						<a href='/services/collins.html'>柯林斯-Collins</a>
					</li>
					<li>
						<a href='/services/duden.html'>杜登-Duden</a>
					</li>
					<li>
						<a href='/services/ekho.html'>余音-Ekho</a>
					</li>
					<li>
						<a href='/services/espeak.html'>eSpeak</a>
					</li>
					<li>
						<a href='/services/festival.html'>Festival</a>
					</li>
					<li>
						<a href='/services/fluencynl.html'>Fluency.nl</a>
					</li>
					<li>
						<a href='/services/google.html'>谷歌-Google</a>
					</li>
					<li>
						<a href='/services/howjsay.html'>Howjsay</a>
					</li>
					<li>
						<a href='/services/imtranslator.html'>ImTranslator</a>
					</li>
					<li>
						<a href='/services/ispeech.html'>iSpeech</a>
					</li>
					<li>
						<a href='/services/sapi5.html'>微软 SAPI</a>
					</li>
					<li>
						<a href='/services/naver.html'>NAVER</a>
					</li>
					<li>
						<a href='/services/neospeech.html'>NeoSpeech</a>
					</li>
					<li>
						<a href='/services/oddcast.html'>Oddcast</a>
					</li>
					<li>
						<a href='/services/say.html'>OS X</a>
					</li>
					<li>
						<a href='/services/oxford.html'>牛津-Oxford</a>
					</li>
					<li>
						<a href='/services/rhvoice.html'>RHVoice</a>
					</li>
					<li>
						<a href='/services/spanishdict.html'>SpanishDict</a>
					</li>
					<li>
						<a href='/services/pico2wave.html'>SVOX Pico</a>
					</li>
					<li>
						<a href='/services/ttsapicom.html'>TTS-API.com</a>
					</li>
					<li>
						<a href='/services/voicetext.html'>日语-VoiceText</a>
					</li>
					<li>
						<a href='/services/wiktionary.html'>维基词典</a>
					</li>
					<li>
						<a href='/services/yandex.html'>Yandex</a>
					</li>
					<li>
						<a href='/services/youdao.html'>有道</a>
					</li>
				</ul>
				<li>
					<a href='/usage'>使用方法</a>
				</li>
				<ul>
					<li>
						<a href='/usage/editor.html'>Note Editor</a>
					</li>
					<li>
						<a href='/usage/browser.html'>Card Browser</a>
					</li>
					<li>
						<a href='/usage/on-the-fly.html'>On-the-Fly</a>
					</li>
					<li>
						<a href='/usage/presets.html'>Presets</a>
					</li>
					<li>
						<a href='/usage/groups.html'>Groups</a>
					</li>
					<li>
						<a href='/usage/removing.html'>Remove Audio</a>
					</li>
				</ul>
				<li>
					<a href='/config'>配置</a>
				</li>
				<ul>
					<li>
						<a href='/config/playback.html'>回放</a>
					</li>
					<li>
						<a href='/config/text.html'>文本</a>
					</li>
					<li>
						<a href='/config/mp3s.html'>MP3等音频文件</a>
					</li>
					<li>
						<a href='/config/windows.html'>窗口</a>
					</li>
					<li>
						<a href='/config/advanced.html'>高级功能</a>
					</li>
				</ul>
				<li>
					<a href='/contribute.html'>贡献者名单</a>
				</li>
			</ul>
		</div>
		<div class="content">{{ content }}</div>
	</div>
	<footer>{% include footer.html %}</footer>
	<!-- 支持GitHub原生表情 -->
	<script type="text/javascript" src="http://gemoji.nocode.site/convertgemojis.js" data-type="convertgemojis" data-emojis-src="" data-emojis-size="20px"></script>
</body>
</html>